<section id="footer">
    <div class="inner">
        <div class="pure-g map">
            <div class="pure-u-1 pure-u-md-1-4">
                <h3>Product</h3>
                <ul>
                    <li><a href="/product">Introduction</a></li>
                    <!--<li><a href="http://doc.reflen.com">Documentation</a></li>
                    <li>Development</li>-->
                </ul>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
                <h3>About</h3>
                <ul>
                    <li><a href="/about">About Reflen</a></li>
                    <li><a href="https://angel.co/reflen-inc/jobs">Careers</a></li>
                    <!--<li><a href="http://blog.reflen.com/">Blog</a></li>
                    <li><a href="http://code.reflen.com/">Engineering</a></li>-->
                </ul>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
                <h3>Resources</h3>
                <ul>
                    <li><a href="http://www.stashboard.org/">Status</a></li>
                    <li><a href="https://github.com/reflen">Open source</a></li>
                </ul>
            </div>
            <div class="pure-u-1 pure-u-md-1-4">
                <h3>Get in touch</h3>
                <ul>
                    <li> <a href="#" class="button talk convospot_click" ontap="showConvospot()" onclick="showConvospot()">Talk to us</a></li>
                 </ul>
            </div>
        </div>
    </div>
    <div class="claim">
        <div class="inner">
            <ul class="copyright">
                <li><a>Privacy policy</a></li>
                <li><a>Terms of service</a></li>
                <li class="corp">&copy; Reflen Inc 2018</li>
                <li>
                    <ul class="social">
                        <li><a href="https://www.facebook.com/reflenapp/?fref=ts"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/reflenapp"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://github.com/orgs/reflen"><i class="fa fa-github"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
