.reflen-site {
    #customer {
        overflow: hidden;
        padding-top: 4em;
        text-align: center;
        .inner {
            margin: 2em auto 0;
            text-align: left;
            width: _size(inner);
            h1,
            h2 {
                margin-bottom: 0px;
                color: _palette(fg-bold);
                font-size: 48px;
                line-height: 1.2;
                font-weight: 600;
            }
            @include breakpoint(medium) {
                h2 {
                    margin-bottom: 0px;
                    color: _palette(bold);
                    font-size: 32px;
                    line-height: 1.2;
                    font-weight: 600;
                }
            }
            img {
                display: block;
            }
            p {
                line-height: 26px;
            }
            h3 {
                margin-bottom: 0px;
                color: _palette(fg-bold);
                font-weight: 400;
                font-size: 24px;
                padding-bottom: 32px;
            }
            h3.bold {
                font-weight: 600;
            }
            .content {
                text-align: left;
            }
        }
        h2,
        h3 {
            opacity: 1;
            margin-bottom: _size(element-margin) * 0.4;
            padding-bottom: _size(element-margin) * 0.2;
        }
        p {
            opacity: 1;
            font-family: _font(family-heading);
            font-size: 1em;
            font-weight: _font(weight-heading);
            letter-spacing: _font(kern-heading);
            line-height: 2;
        }
        @include breakpoint(large) {
            @include padding(5em, 0, (0, 0, _size(wrapper-edges, large) * 0.5, 0));
            background-color: _palette(bg);
            background-image: linear-gradient(to top, transparentize(_palette(bg), 0.2), transparentize(_palette(bg), 0.2));
            background-size: auto, cover;
            background-position: center, center;
            margin-bottom: (_size(wrapper-edges, large) * -1);
        }
        @include breakpoint(medium) {
            @include padding(2em, 3em, (2, 0, 0, 0));
            margin-bottom: (_size(wrapper-edges, medium) * -1);
            .inner {
                width: 100%;
                margin: 6em auto 0 auto;
                img {
                    width: 100%;
                }
            }
        }
        @include breakpoint(small) {
            @include padding(2em, 2em, (2, 0, 0, 0));
            margin-bottom: (_size(wrapper-edges, small) * -1);
            .inner {
                margin: 3em auto 0em auto;
            }
        }
    }
}
