.generic {
    min-height: 550px;
    .inner {
        @include padding(0, 0);
        margin: 0 auto;
        text-align: center;
        img {
            max-width: 100%;
        }
        h2 {
            color: _palette(bold);
            font-size: 32px;
        }
    }
    .circle {
        border-radius: 50%;
    }
    .prod-box {
        text-align: left;
        background: #F4F7F4;
        border-radius: 10px;
        width: 560px;
        height: 180px;
        margin: 20px;
        i {
            font-style: 18px;
            color: #ccc;
        }
        img {
            height: 40px;
        }
        .prod-img {
            padding: 20px 20px 0;
        }
        .prod-text {
            margin: 0 20px 20px;
        }
    }
    .prod-box:hover {
        box-shadow: 2px 3px 10px rgba(37, 56, 88, .333);
        transition: box-shadow 150ms ease-in;
    }
    .integrition {
        color: #C1C7D0;
        i {
            font-size: 64px;
            margin: 0 20px;
        }
    }
    .pre-sign {
        color: #4a148c;
        float: left;
        font-size: 2em;
        margin: 0 20px 0 0;
    }
}