{% extends 'partials/base.html.twig' %}

{% block content %}
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>{{ page.header.title }}</h2>
            {% if (page.header.sub) %}
            <h3>{{ page.header.sub }}</h3>
            {% endif %}
            {{ page.header.text|markdown }}
        </div>
    </header>

    <!-- Content -->
    <div class="page-container">
        <div class="inner">
            {{ page.content }}
        </div>
    </div>
</section>
{% endblock %}